/* ==========================================================================
   #SHARED
   ========================================================================== */

html,
body {
  font-family: 'Roboto', sans-serif;
}

address,
blockquote,
pre,
dl,
ol,
ul,
figure,
hr,
table {
  margin-bottom: 0;
}

fieldset,
legend {
  margin-bottom: 0;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px 0;
  font-family: 'Roboto', sans-serif;
}
