.filters {
  &__title {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__button-reset {
    border: 0;
    background: transparent;
    font-weight: 600;
    margin-left: auto;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
