.page-press-release {
  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 252px auto;
    grid-gap: 24px;
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
