.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  gap: 16px;
  padding: 20px 0;

  &__item {
    display: flex;
    align-items: center;
  }

  &__page-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__page-button--active {
    background-color: #fcf8ef;
  }

  &__page-control {
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;

    svg {
      margin: 0 4px;
    }
  }

  &__page-control--prev {
    flex-direction: row-reverse;

    svg {
      transform: rotate(180deg);
    }
  }
}
